@charset "UTF-8";

/* --- root --- */
:root {
  --primary-red: #e50914; 
  --text-light: #ffffff;
  --text-gray: #b7b7b7;
  --bg-black: #000000;
  --bg-dark-gray: #2a2927;
  --bg-medium-gray: #3c3c3c;
  --border-gray: #808080;
  --bg-overlay: rgba(0, 0, 0, 0.64);

  --default-font: Arial, sans-serif;
  --border-radius-sm: 4px;
  --space-sm: 10px;
  --space-md: 15px;
  --space-lg: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--default-font);
}

html,
body {
  height: 100vh;
  background-color: var(--bg-dark-gray);
  color: var(--text-light);
  overflow-x: hidden;
}

#cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  background-color: var(--bg-black);
}

#cabecalho,
#cabecalho h2 a {
  color: var(--primary-red);
}

#cabecalho #botao-entrar {
  cursor: pointer;
  background-color: var(--primary-red);
  border-radius: var(--border-radius-sm);
  border: none;
  color: var(--text-light);
  padding: var(--space-sm);
  margin-right: var(--space-sm);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#primeira-parte {
  background: url("imagens/website_small.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 550px;
  margin-bottom: var(--space-sm);
  position: relative;
}

#fundoTransparente {
  background-color: var(--bg-overlay);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#primeira-parte header h2 {
  font-size: 1.5rem;
}

#primeira-parte header p {
  font-size: 1rem;
}

#primeira-parte form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: var(--space-md);
}

.container-input #iemail {
  padding: var(--space-md);
  margin-bottom: 5px;
  outline: none;
  margin-top: var(--space-sm);
  border: 1px solid var(--border-gray); 
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-black);
  color: var(--text-light);
}

.container-input #botao-vamosLa {
  cursor: pointer;
  background-color: var(--primary-red);
  box-shadow: 1px 0px 1px 4px rgba(0, 0, 0, 0.09);
  padding: var(--space-md) var(--space-sm);
  border: none;
  border-radius: var(--border-radius-sm);
  color: var(--text-light);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-black);
  margin-bottom: var(--space-sm);
  padding-top: var(--space-lg);
  text-align: center;
}

.container header h2,
.container header p,
.container header h1 {
  margin: var(--space-md);
}
.container h3 {
  font-size: 1.5rem;
  margin-top: 50px;
}

.container p {
  font-size: 0.9rem;
  margin: 0 25px;
}

#imagem-tv,
#dispositivos,
#infantil,
#baixar-filmes-series {
  width: 90%;
  margin: var(--space-lg) auto;
}

#widget {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 70px;
  margin-bottom: 20px;
  border: 2px solid var(--border-gray);
  border-radius: 8px;
  background-color: var(--bg-black);
  position: relative;
}

#widget p,
#widget h3 {
  padding: 5px 0px;
  margin: 10px 0px 10px 10px;
  display: inline;
  font-size: 0.7em;
  text-align: left;
}

#mini-cartaz {
  width: 20%;
  border-radius: 10px 0px 0px 10px;
}

#gif {
  width: 5rem;
  margin-right: 10px;
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif")
    center center no-repeat;
  background-size: 100%;
}

#sexta-parte {
  padding-bottom: 30px;
}

#sexta-parte h3 {
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: var(--space-lg);
}

#sexta-parte ul {
  list-style-type: none;
}

#sexta-parte ul h5 {
  margin: 0 30px 1px; 
  background-color: var(--bg-medium-gray);
  font-size: 1rem;
  padding: 20px;
  text-align: left;
  cursor: pointer;
}

#sexta-parte ul p {
  background-color: var(--bg-medium-gray);
  padding: var(--space-md);
  margin: 0 30px 30px; 
}

#footer-main {
  position: relative;
  background-color: var(--bg-black);
  color: var(--text-gray);
  padding: var(--space-lg);
  width: 100%;
}

#footer-main ul {
  column-count: 2;
  column-gap: var(--space-lg);
  padding: var(--space-lg) 0;
  list-style-type: none;
}

#footer-main ul li {
  text-decoration: underline;
  cursor: pointer;
  padding-top: 15px;
  font-size: 0.9em;
}

#footer-main ul p a {
  text-decoration: underline;
  color: var(--text-gray);
}
